<ul class='album-list'>
  <% @selections.each do |selection| %>
    <li>
      <%= link_to selection.user, class: "album" do %>
        <div class="album-info">
          <span class="album-artist"><%= selection.album.artist %></span>
          <span class="album-title"><%= selection.album.title %></span>
        </div>
        <%= image_tag selection.album.album_art.url(:thumb), class: "album-art" %>
      <% end %>
    </li>
  <% end %>
</ul>
