<% @selections.each do |selection| %>
  <%= link_to selection, class: "album-container" do %>
    <ul class="album-list">
      <li class="artist"><%= selection.album.artist %></li>
      <li class="title"><%= selection.album.title %></li>
    </ul>
    <%= image_tag selection.album.album_art.url(:medium), class: "album-art" %>
  <% end %>
<% end %>

