<div class="selections">
  <% @selections.each do |selection| %>
    <%= link_to selection, class: 'selection' do %>
      <%= image_tag selection.album.album_art.url(:thumb), class: "selection-thumb" %>
    <% end %>
  <% end %>
</div>
