a.album-container {
  text-align: center;
  margin-bottom: 24px;  
  color: $white;

  @include media($desktop) {
    @include span-columns(2);
    @include omega(3n);
  }
  @include media($mobile) {
    @include span-columns(4);
    @include shift(1);
  }
  position: relative;
  img.album-art {
    display: inline-block;
    width: 100%; height: 100%;
    margin: 0 auto;    
    box-shadow: 0 0 8px rgba(black, 0.2);
    z-index: -1;
  }
  ul.album-list {
    @include media($desktop) { width: 290px; height: 290px; }
    @include media($mobile) { width: 313px; height: 312px; }
    display: block;  
    padding: 48px; margin: 0;
    list-style: none;
    position: absolute;
    top: 0; left: 0;
    background: rgba(black, 0.75);
    opacity: 0;
    text-transform: uppercase;
    @include transition (all 120ms ease-in-out);
    &:hover {
      opacity: 1;
    }

    li.artist {
      font-size: 24px;
      line-height: 24px;
      letter-spacing: 2px;
      margin-bottom: 12px;
    }
    li.title {
      font-size: 16px;
      letter-spacing: 2px;
      font-weight: 100;
    }



  }
}

div.add-album {
  position: relative;

  text-transform: uppercase;
  margin-bottom: 24px;
  border: 8px solid $yellow;
  width: 290px; height: 290px;
  @include media($mobile) {
    @include span-columns(4);
    @include shift(1);
    height: 313px;
  }
  @include media($desktop) {
    @include span-columns(2);
    @include omega(3n);
  }
  a {
    background: url("vinyls-logo-96.png") center no-repeat;
    display: block; position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: block;
  }
  &:hover {
    background: $white;
  }
  text-align: center;
  overflow: hidden;
}

ul.single-album-list {
  list-style: none;
  padding: 0;
  
  li {
    margin-bottom: 24px;
    &.artist {
      font-size: 48px;
      line-height: 48px;
    }
    &.title {
      font-size: 24px;
      line-height: 24px;
    }
    &.description {
      padding: 12px;
      font-size: 24px;
      line-height: 24px;
      background: $white;
      color: black;
    }
    img {
      max-width: 250px;
      max-height: 250px;
    }
  }
}

ul.edit-links {
  padding: 0;
  margin: 0 0 24px 0; list-style: none;
  li {
    display: inline-block;
  }
}
