ul.album-list {
  width: 750px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  li {
    float: left;
    width: 250px;
    height: 250px;
    position: relative;

  }
}
a.album {

  @include link-reset;

  text-align: center;
  margin-bottom: 24px;  
  color: $white;

  img.album-art {
    display: inline-block;
    width: 100%; height: 100%;
    margin: 0 auto;    
    z-index: -1;
  }
  .album-info {

    display: block;  
    width: 100%; height: 100%;

    // List Style Overwrites

    padding: 24px; margin: 0;
    list-style: none;
    position: absolute;

    top: 0; left: 0;
    background: rgba(black, 0.75);
    opacity: 0;
    text-transform: uppercase;

    @include transition (all 120ms ease-in-out);

    &:hover {
      opacity: 1;
    }

    .album-artist, .album-title {
      display: block;
    }

    .album-artist {
      font-size: 24px;
      line-height: 24px;
      font-weight: 700;
      letter-spacing: 2px;
      margin-bottom: 12px;
    }
    .album-title {
      font-size: 16px;
      letter-spacing: 2px;
      font-weight: 100;
    }
  }
}

div.add-album {
  position: relative;

  text-transform: uppercase;
  margin-bottom: 24px;
  border: 8px solid $yellow;
  width: 250px; height: 250px;
  a {
    background: url("vinyls-logo-96.png") center no-repeat;
    display: block; position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: block;
  }
  &:hover {
    background: $white;
  }
  text-align: center;
  overflow: hidden;
}

ul.single-album-list {
  list-style: none;
  padding: 0;
  margin: 0;
  
  li {
    margin-bottom: 24px;
    &.artist {
      font-size: 48px;
      line-height: 48px;
      font-weight: 700;
    }
    &.title {
      font-size: 24px;
      line-height: 24px;
    }
    &.description {
      padding: 12px;
      font-size: 24px;
      line-height: 24px;
      background: $white;
      color: black;
    }
    img {
      max-width: 250px;
      max-height: 250px;
    }
  }
}

ul.edit-links {
  padding: 0;
  margin: 0 0 24px 0; list-style: none;
  li {
    display: inline-block;
  }
}
