header {
  min-height: 48px;
  line-height: 48px;
  padding: 12px 24px;
  margin-bottom: 24px;

  @include outer-container;

  border-bottom: 1px solid $white;

  text-transform: uppercase;
  
  a#logo {
    @include span-columns(2); 
    color: $white;
    font-size: 24px;
    height: 48px;
    font-weight: 300;
    padding-left: 60px;
    letter-spacing: 2px;
    background: url('vinyls-logo-48.png') no-repeat;
    &:hover { 
      color: $yellow; border: none;
    }
  }
  
  nav {
    text-align: right;
    word-wrap: none;
    $white-space: nowrap;
    @include span-columns(10);
    font-size: 14px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline;
        height: 24px;
        &:not(:first-of-type) {
          border-left: 1px solid $white;
          margin-left: 4px;
          padding-left: 8px;
        }
      }
    }
  }
}
