header {
  min-height: 48px;
  line-height: 48px;
  padding: 12px 24px;
  margin-bottom: 24px;
  
  @include outer-container;

  border-bottom: 1px solid white;
  
  a#logo {
    @include span-columns(2); 
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    height: 48px;
    padding-left: 60px;
    
    background: url('vinyls-logo-48.png') no-repeat;
  }
  
  nav {
    text-align: right;
    word-wrap: none;
    white-space: nowrap;
    @include span-columns(10);
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
  
    a.sign-up, a.current-user {
      padding: 4px;
      
      display: inline;
      background: $yellow;
      color: black;
    }

  }
}