body {
  font: {
    family: 'Europa';
  }
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

h1, h2 {
  margin-bottom: 48px;
}

h3, h4, h5, h6 {
  margin-bottom: 24px;
}

a {
  color: white;
  text-decoration: none;
}

p.large-text {
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  font-weight: 100;
}