$yellow: #FBE500;
$blue: hsl(240, 50, 75);
$green: hsl(115, 50, 50);
$red: #A6080E;
$background-color: black;
$grey: hsl(0,0,20);

$base-color: $blue;

$link-color: hsl(240,100, 75);
$title-color: white;
$text-color: #E6E6E6;
$dark-text-color: hsl(0,0,10);
$border-color: hsl(0,0,25);
$shadow-color: rgba(black, 0.25);


body {
  padding: 0; margin: 0;
  background: $background-color;
  color: $text-color;
  position: relative;
  font: {
    family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    size: 16px/1em; 
  }

  line-height: 24px;
}
div#container {
  @include outer-container;
}
.main-wrapper {
    

}

.notice, .error {
  @include fill-parent;
  line-height: 48px;
  font-size: 24px;
  margin-bottom: 24px;
  text-align: center;
}

.notice {
  background: $green;
  box-shadow: 0 0 16px 0 $green;
  color: black;
  a { color: black; }
}

.error {
  background: $red;
  box-shadow: 0 0 16px 0 $red;
}
// Sorry TypeKit
img.typekit-badge { display: none !important; }
