$white: #FCFCFF;
$yellow: #FBE500;
$blue: #18A4F5;
$green: mix($blue, $yellow, 50%);
$red: #A6080E;
$background-color: darken($blue, 48%);
$grey: mix($white, black, 75%);

$base-color: $blue;

$link-color: $blue;
$text-color: #fbfbfb;
$border-color: rgba($base-color, 0.2);
$shadow-color: rgba(black, 0.5);


body {
  padding: 0; margin: 0;
  background: $background-color;
  color: $text-color;
  position: relative;
  font: {
    family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    size: 16px/1em; 
  }

  line-height: 24px;
}
div#container {
  @include outer-container;
}
.notice, .error {
  @include fill-parent;
  line-height: 48px;
  font-size: 24px;
  margin-bottom: 24px;
  text-align: center;
}

.notice {
  background: $green;
  box-shadow: 0 0 16px 0 $green;
  color: black;
  a { color: black; }
}

.error {
  background: $red;
  box-shadow: 0 0 16px 0 $red;
}
// Sorry TypeKit
img.typekit-badge { display: none !important; }
