$white: #FCFCFF;
$yellow: #FBE500;
$blue: #18A4F5;
$green: mix($yellow, $blue, 50%);
$red: #A6080E;
$black: #000F0F;

$base-color: $blue;

$link-color: $blue;
$text-color: #fbfbfb;
$border-color: rgba($base-color, 0.2);
$shadow-color: rgba($black, 0.5);


body {
  padding: 0; margin: 0;
  background: $black;
  color: $text-color;
  position: relative;
  font: {
    family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    size: 16px/1em; 
  }

  line-height: 24px;
}
div#container {
  @include outer-container;
}
.notice, .error {
  @include fill-parent;
  line-height: 48px;
  font-size: 24px;
  text-align: center;
}

.notice {
  background: $yellow;
  color: black;
  a { color: black; }
}

.error {
  background: red;
}
// Sorry TypeKit
img.typekit-badge { display: none !important; }
