@mixin button($color: $green) {
  @include link-reset;
  padding: 0 8px;
  background: $color;
  line-height: 24px;
  border-radius: 2px;
  border: none;
  color: black;
  font-family: inherit;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
  @include transition (all 80ms ease-in-out);
  box-shadow: 0 4px 0 0 darken($color, 25%);
  &:hover {
    background: lighten($color, 10%);
  }
  a { color: black; }
}

@mixin default-input {
  border: 1px solid $border-color;
  height: 48px;  
  font-size: golden-ratio(16px, 1);
  box-shadow: 0 0 6px rgba(black, 0.5) inset;
  margin-bottom: 24px;
  padding: 8px;
  &:active, &:focus {
    border-color: $black;
    box-shadow: 0 0 16px 0 $base-color;
  }
}

@mixin default-textarea {
  border: 1px solid $border-color;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 24px;
  box-shadow: 0 0 6px rgba(black, 0.5) inset;
  padding: 8px;
  height: 96px;
  &:active, &:focus {
    border-color: $black;
    box-shadow: 0 0 16px 0 $base-color;
  }
}

@mixin mini-button($color: $yellow) {
  @include button;
  padding: 0;
  font-size: golden-ratio(16px, -1);
  line-height: 16px;
}

.button {
  @include button;
}

.button-secondary {
  @include button($grey);
}

// Main form styling

form {
  @include span-columns(8);
  @include shift(2);

  input, textarea {
    @include fill-parent;
  }

  label {
    width: 20%;

    float: left;
    margin-bottom: 12px;
    text-transform: uppercase;
  }

  input {
    @include default-input;

  }

  input.button {
    margin-top: 24px;
  }
  textarea {
    @include default-textarea;
    @include omega;
  }

  fieldset {
    @include row;
    border: none;
    padding: 0; margin: 0;
  }


  
  input[type="file"] {
    line-height: 0;
    padding: 16px 0;
    font-size: 16px;
  }

}

// Sign in styling

.forgot-password {
  display: inline-block;
  float: right;
}