@mixin button($color: $green) {
  @include link-reset;
  padding: 0 8px;
  background: $color;
  line-height: 24px;
  border-radius: 2px;
  border: none;
  color: black;
  font-family: inherit;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
  @include transition (all 80ms ease-in-out);
  box-shadow: 0 4px 0 0 darken($color, 25%);
  &:hover {
    background: lighten($color, 10%);
  }
  a { color: black; }
}

@mixin default-input {
  border: none;
  height: 48px;  
  font-size: golden-ratio(16px, 1);
  box-shadow: 0 0 6px rgba(black, 0.5) inset;
  margin-bottom: 24px;
  padding: 8px;
  &:active, &:focus {
    outline: 2px solid $yellow;
  }
}

@mixin default-textarea {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 24px;
  box-shadow: 0 0 6px rgba(black, 0.5) inset;
  padding: 8px;
  height: 144px;
  &:active, &:focus {
    outline: 2px solid $yellow;
  }
}

@mixin mini-button($color: $yellow) {
  @include button;
  padding: 0;
  font-size: golden-ratio(16px, -1);
  line-height: 16px;
}

.button {
  @include button;
}

// Main form styling

form {
  @include span-columns(8);
  @include shift(2);
  label {
    @include span-columns(2 of 8)

  }
  input {
    @include default-input;
    @include span-columns(6 of 8);
    @include omega;
  }

  input.button {
    @include shift(2);
  }
  textarea {
    @include default-textarea;
    @include span-columns(6 of 8);
    @include omega;
  }

  fieldset {
    @include row;
    border: none;
    padding: 0; margin: 0;
  }

  label {
    font-size: 16px;
    text-transform: uppercase;
  }
  
  input[type="file"] {
    line-height: 0;
    padding: 16px 0;
    font-size: 16px;
  }

}
