@import "neat-helpers";

// $visual-grid: true;
// $visual-grid-color: red;
$mobile: new-breakpoint(max-width 480px 4);
$tablet: new-breakpoint(max-width 768px 8);
$desktop: new-breakpoint(min-width 769px 12);

$max-width: 940px;
