header {
  min-height: 48px;
  line-height: 48px;
  margin-top: 24px;
  padding-bottom: 24px;

  a#logo {
    @include link-reset;
    @include span-columns(6);
    @include media($mobile) {
      @include fill-parent;
      text-align: center;
      padding-left: 0;
      background-position: center;
    }

    color: $title-color;
    font-size: golden-ratio(16px, 1);
    text-transform: uppercase;
    height: 48px;
    font-weight: 700;
    padding-left: 60px;
    background: url('vinyls-logo-48.png') no-repeat;
    &:hover { 
      color: $link-color;
    }
  }
  nav {
    @include span-columns(6);
    text-align: right;
    
    @include media($mobile) {
      @include fill-parent;
      text-align: center;
    }
  }
}

