header {
  @include linear-gradient($header-color, darken($header-color, 5%));
  @include outer-container;
  @include pad;
  min-height: 48px;
  line-height: 48px;
  margin-bottom: 24px;
  padding-bottom: 24px;

  a#logo {
    @include link-reset;
    @include span-columns(3);
    @include media($mobile) {
      @include fill-parent;
      text-align: center;
      padding-left: 0;
      background-position: center;
    }

    color: $text-color;
    font-size: golden-ratio(16px, 1);
    text-transform: uppercase;
    height: 48px;
    letter-spacing: 4px;
    font-weight: 300;
    padding-left: 60px;
    background: url('vinyls-logo-48.png') no-repeat;
    &:hover { 
      color: $link-color;
    }
  }
  nav {
    @include span-columns(9);
    text-align: right;
    
    @include media($mobile) {
      @include fill-parent;
      text-align: center;
    }
  }
}

