.selections {
  .selection {
    @include span-columns(3);
    @include omega(4n);
    
    @include link-reset;

    @include media($mobile) {
	  @include fill-parent;
	}

    margin-bottom: 12px;
    border: none;
    @include transition(opacity 120ms ease-in-out);
    &:hover {
    	opacity: 0.5;
    }
  }
}

.selection-thumb {
    width: 100%;
    height: 100%;
    @include default-box-shadow;
    margin-bottom: 24px;
}

.selection-album-artist, .selection-album-title {
    display: inline-block;
    height: 48px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
}

.selection-album-artist {
    font-size: golden-ratio(16px, 1);
    margin-bottom: 12px;
    font-weight: 700;
}

.selection-album-title {
    margin-bottom: 24px;
}

.selection-artist {
    font-size: golden-ratio(16px, 2);
    line-height: 48px;
    font-weight: 700;
}
.selection-title {
    font-size: golden-ratio(16px, 1);
}

.selection-description {
    color: $yellow;
}


.selection-art {
    @include span-columns(6);
    img { @include default-box-shadow; }
}

.selection-info {
    @include span-columns(6);
    @include omega;
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin-bottom: 24px;
        }
    }
}
