.selections {

    // UL Reset
    padding: 0;
    margin: 0;
    
  .selection {

    overflow: hidden;

    @include media($desktop) {
        @include span-columns(3);
        @include omega(4n);
    }
        
    @include media($tablet) {
        @include span-columns(4);
        @include omega(2n);
	}
    @include media($mobile) {
	  @include fill-parent;
	}

    position: relative;

    margin-bottom: $gutter;
    
    a {
        @include link-reset;
        color: #E6E6E6;
    }
  }
}

.selection-album-details, .selection-album-thumb {
    width: 100%;
    display: block;    
}

.selection-album-thumb {
    height: 100%;
    margin: 0 auto;
}

.selection-album-details {

    position: absolute;
    text-align: center;
    background: rgba(black,.75);
    height: 100%;
    padding: 10%;
    opacity: 0;
    @include transition(opacity 80ms ease-in-out);
    &:hover {
        opacity: 1;
    }
}



.selection-album-artist, .selection-album-title {
    display: inline-block;
    height: 50%;
    width: 100%;
    overflow: hidden;
    text-transform: uppercase;
}

.selection-album-artist {
    font-size: golden-ratio(16px, 1);
    font-weight: 700;
}

.selection-artist {
    font-size: golden-ratio(16px, 2);
    line-height: 48px;
    font-weight: 700;
}
.selection-title {
    font-size: golden-ratio(16px, 1);
}

.selection-description {
    color: $yellow;
}


.selection-art {
    @include span-columns(6);
    img { @include default-box-shadow; }
}

.selection-info {
    @include span-columns(6);
    @include omega;
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin-bottom: 24px;
        }
    }
}
