/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bourbon";
@import "neat";
@import "global/base";
@import "global/typography";
@import "global/form";
@import "global/header";
@import "global/vinyls";




.username {
  padding: 4px;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  background: $yellow;
  a { 

    color: black; 
  }
}
.username-header {
  @include fill-parent;
  background: black;
  font-weight: 100;
  border-bottom: 1px solid $yellow;
  a { color: $yellow; }
}




ul.single-vinyl-list {
  list-style: none;
  padding: 0;
  
  li {
    margin-bottom: 24px;
    &.artist {
      font-size: 48px;
      line-height: 48px;
    }
    &.title {
      font-size: 24px;
      line-height: 24px;
    }
    &.thoughts {
      padding: 24px;
      background: white;
      color: black;
    }
    img {
      max-width: 250px;
      max-height: 250px;
    }
  }
}

ul.edit-links {
  padding: 0;
  margin: 0 0 24px 0; list-style: none;
  li {
    display: inline-block;
  }
}
