/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bourbon";
@import "neat";
@import "global/header";

$mobile: new-breakpoint(max-width 740px 6);
$desktop: new-breakpoint(min-width 740px 6);

a {
  text-decoration: none;
}

// Button Styling

.button {

  padding: 0 24px;
  
  background: yellow;
  
  @include linear-gradient(lighten(yellow, 5%), darken(yellow, 5%));

  border-top: 4px solid lighten(yellow, 15%);
  border-left: 4px solid yellow;
  border-right: 4px solid yellow;
  border-bottom: 4px solid darken(yellow, 15%);
  
  line-height: 20px;

  color: black;
  
  display: inline-block;
  cursor: pointer;
  
  @include transition (all 120ms ease-in-out);

  &:hover {
    background: lighten(yellow, 25%);
  }
  
}


body {
$visual-grid: true;
  padding: 0; margin: 0;
  background-color: black;
  color: white;
  font: {
    family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    size: 16px/1em;
  }
  line-height: 24px;
}

div#container {
  @include outer-container;
  width: 740px;

  @include media($desktop) {
    max-width: 740px;

  }

  @include media($mobile) {
    width: 480px;
  }

}
a.vinyl-container {
  
  text-align: center;
  margin-bottom: 24px;  


  @include media($desktop) {
    @include span-columns(2);
    @include omega(3n);

  }

  @include media($mobile) {
    @include span-columns(4);
    @include shift(1);

  }

  position: relative;

  img.album-art {

    display: inline-block;

    width: 100%; height: 100%;
    margin: 0 auto;    
    box-shadow: 0 0 12px rgba(black, 0.5);

    z-index: -1;
    
    
  }

  ul.vinyl-list {

    display: block;
    
    width: 100%; height: 100%;
    
    padding: 24px; margin: 0;
    list-style: none;

    position: absolute;
    top: 0; left: 0;
    
    background: rgba(black, 0.8);

    opacity: 0;
    

    text-transform: uppercase;
    
    @include transition (all 120ms ease-in-out);
    
    &:hover {
      opacity: 1;
    }
    li {     

    }
    li.artist {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 12px;
    }
    li.title {
      font-size: 16px;
      font-weight: 100;
    }



  }
}

div.add-vinyl {

  position: relative;
  width: 223px; height: 223px;
  text-transform: uppercase;
  margin-bottom: 24px;

  @include media($desktop) {
    @include span-columns(2);
    @include omega(3n);

  }

  a {
    padding-top: 80px;
    display: block; position: absolute;
    top: 0; left: 0;
    width: 223px; height: 223px;
    display: block;
    border: 4px dashed white;
    line-height: 48px;
    font-size: 24px;
    padding-top: 78px;

  }

  div.vinyl-count {
    display: inline-block;
    position: relative;
    top: 144px;
    font-size: 12px; line-height: 24px;
    border: 1px solid yellow;
    padding: 4px;
    width: 32px; height: 32px;
    border-radius: 16px;
    
  }

  @include media($mobile) {
    width: 312px;
    height: 312px;
    line-height: 48px;
    margin: 0 auto 24px auto;
  }

  text-align: center;

  overflow: hidden;
  opacity: 0.5;
  @include transition (opacity 200ms ease-in-out);
  &:hover {
    opacity: 1;
  }
}


// Typography

a {
  color: white;
}

p.large-text {
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  font-weight: 100;
}

ul.single-vinyl-list {
  list-style: none;
  
  li {
    margin-bottom: 24px;
    &.artist {
      font-size: 48px;
      line-height: 48px;
    }
    &.title {
      font-size: 24px;
      line-height: 24px;
    }
    &.thoughts {
      padding: 24px;
      background: white;
      color: black;
    }
    img {
      padding: 4px;
      border-radius: 4px;
      background: white;
      max-width: 250px;
      max-height: 250px;
    }
  }
}

form {
  @include span-columns(6);
  @include shift(3);
  label {
    @include fill-parent;
  }
  input {
    @include fill-parent;

  }

  textarea {
    @include fill-parent;
    font-size:16px;
    line-height: 24px;
    padding: 24px;
    height: 144px;
  }

  fieldset {
    @include fill-parent;
    border: none;
    padding: 0; margin: 0;
  }

  label, input {
    height: 48px;
    
    line-height: 48px;
    
    font-size: 24px;
    
    margin-bottom: 24px;
  }

  label {
    display: inline-block;
    @include fill-parent;
    margin-bottom: 0;
  }
  input[type="file"] {
    line-height: 0;
    padding: 16px;
    font-size: 16px;
  }
}

ul.edit-links {
  margin: 0 0 24px 0; list-style: none;
  li {
    display: inline-block;
  }
}


a.back-to-main {
  float: left;
}

div.remaining-vinyls {
  display: inline;
  float: left;
  font-weight: 100;
  margin-right: 24px;
}